@media (max-width: 700px) {
  .work{
    width: 100%;
  }
  .work:nth-child(2n) .work_info,
  .work_info{
    left: 0;
    right: 0;
  }
}

@media (max-width: 500px) {

  /***************************************
    HEADER
  ***************************************/
  header{
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
  }
  .logo{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
  }
  @media (min-width: 992px) {
    .logo h1{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;}
    }
